body {    
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-image: url("bg.png");*/
    background-color: #202124;
   }
.input1, .input2{
    padding-top: .25%;
    display: flex;   
    justify-content: center;
    align-items: center;
   
    }
input{
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    outline: none;
}
.btn-div{display: flex;   
    padding: 10px;
    justify-content: center;
    align-items: center;}
.btn{
    font-size: 24px;
    width: 33%;
    border: none;
    border-radius: 10px;
    padding: 10px;    
}
.output{   
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}