body {    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-image: url("bg.png");*/
    background-color: #202124;
   }
.input{
    display: flex;
    flex-direction: column;
}